<%- include("partials/header"); -%>

<div class="question-container">
    <% allQuestions.forEach(ques => { %>
        <div class="question shrink">
            <h2><%= ques.question %></h2>
            <p style="color: grey;"><%= ques.qType %></p>
            <% if(ques.qType === "Multiple") { %>
                <% ques.options.forEach(option => { %>
                    <% if(option.text !== "") { %>
                        <% if(option.correct === "on") { %>
                            <p style="color: green;"><%= option.text %></p>
                        <% } else { %>
                            <p style="color: red;"><%= option.text %></p>
                        <% } %>
                    <% } %>
                <% }) %>
            <% } else if(ques.qType === "Single") { %>
                <% ques.options.forEach(option => { %>
                    <% if(option.text !== "") { %>
                        <% if(option.correct === "on") { %>
                            <p style="color: green;"><%= option.text %></p>
                        <% } else { %>
                            <p style="color: red;"><%= option.text %></p>
                        <% } %>
                    <% } %>
                <% }) %>
            <% } %>
        </div>
    <% }) %>
</div>
<div class="container shrink">
    <% if(newQues === "true") { %>
        <form action="/quiz/<%= quizId %>" method="post">
            <textarea name="question" class="form-control" rows="3"></textarea>
            <select name="qType">
                <option selected>Select type of question</option>
                <option value="Subjective">Subjective Type</option>
                <option value="Single">Single Correct option type</option>
                <option value="Multiple">Multiple Correct options type</option>
            </select>
            <div class="input-group">
                <div class="input-group-text">
                    <input type="checkbox" name="optACheck" class="form-check-input mt-0">
                </div>
                <input type="text" name="optA" class="form-control">
            </div>
            <div class="input-group">
                <div class="input-group-text">
                    <input type="checkbox" name="optBCheck" class="form-check-input mt-0">
                </div>
                <input type="text" name="optB" class="form-control">
            </div>
            <div class="input-group">
                <div class="input-group-text">
                    <input type="checkbox" name="optCCheck" class="form-check-input mt-0">
                </div>
                <input type="text" name="optC" class="form-control">
            </div>
            <div class="input-group">
                <div class="input-group-text">
                    <input type="checkbox" name="optDCheck" class="form-check-input mt-0">
                </div>
                <input type="text" name="optD" class="form-control">
            </div>
            <button class="btn btn-lg btn-outline-dark" name="new" value="false" type="submit">Add Question</button>
        </form>
    <% } else { %>
        <form action="/quiz/<%= quizId %>" method="post">
            <button class="btn btn-lg btn-outline-dark" name="new" value="true" type="submit">Create New Question</button>
        </form>
    <% } %>
</div>

<%- include("partials/footer"); -%>